# Supabase Configuration
VITE_SUPABASE_URL=https://czxfisuojtujjzcyhxql.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6eGZpc3VvanR1amp6Y3loeHFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzEwOTMsImV4cCI6MjA5MjU0NzA5M30.CSJYI220KBX-e-l2MMn3lTmsh7gv8KQTWnpqIEVBiWY
