# Supabase Configuration
VITE_SUPABASE_URL=https://zrxjsiyqiddrvrvsbdtt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyeGpzaXlxaWRkcnZydnNiZHR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NzcxMTUsImV4cCI6MjA5MjU1MzExNX0.A-Rr0IsPirFqV_7-gtCC3tGYlgGIr-Pwe0rDrP7e1TM
