# Supabase Configuration
VITE_SUPABASE_URL=https://joapkjmekqsiilaisanj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpvYXBram1la3FzaWlsYWlzYW5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5ODM0NzksImV4cCI6MjA5MjU1OTQ3OX0.1u6ZB90dQ0g6tWOPmpIxp1XpdHYc2aFLjWNXlzhDcfY
